{% extends 'main/layout.html' %}


{% block title  %}{{ title }}{% endblock %}

{% block content  %}
<div class="features">
<h2>{{ title }}</h2>
    <br><p style="margin-left: 20%;">Главным назначением веб-приложения «INFЕГЭ» является обеспечение школьников и преподавателей ФГБОУ ВО «БГПУ» доступа к решению типовых заданий ЕГЭ по информатике.
Целью создания системы «INFЕГЭ» является проведение пробного дистанционного экзамена ЕГЭ по информатике, чтобы объективно оценить подготовку школьников, проанализировать результаты и скорректировать процесс подготовки, а также отслеживать статистику.
</p><br>

    <a style="margin-left: 20%;" href="{% url 'login' %}"><button class="btn btn-warning">Войти</button></a>


</div>


{% endblock %}